<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA - MEU VIGILANTE AMBIENTAL</title>
    <meta name="description" content="Sistema de gerenciamento do aplicativo de denúncias de crimes ambientais do aplicativo Meu Vigilante"/>
    <meta name="rating" content="general">
    <link rel="stylesheet" href="frontend/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="frontend/css/design.css">
</head>
<body>
    <noscript>
        <p>Você precisa ligar o javascript</p>
    </noscript>
    <header>
    	<h1>Meu Vigilante - Pan-óptico</h1>
    </header>